<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="table">
    <table border="1" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td>
                <a th:href="@{/category/edit/{id}(id=${item.id})}">Edit</a> |
                <a th:href="@{/category/delete/{id}(id=${item.id})}"
                   onclick="return confirm('Bạn có chắc muốn xóa không?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>
