<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập có Remember Me + Upload Ảnh</title>
</head>
<body>

<h2>Form Đăng nhập </h2>

<form action="/account/login" method="post" enctype="multipart/form-data">
    <p>Username: <input type="text" name="username" th:value="${username}" required></p>
    <p>Password: <input type="password" name="password" required></p>
    <p>Remember me: <input type="checkbox" name="remember" th:checked="${remember}"></p>
    <p>Chọn ảnh đại diện: <input type="file" name="photo_file"></p>
    <button type="submit">Đăng nhập</button>
</form>

<hr>

<p th:text="${message}"></p>

<div th:if="${photo}">
    <h3>Ảnh vừa upload:</h3>
    <!-- Dẫn từ resources/uploads/ -->
    <img th:src="@{'/uploads/' + ${photo}}" width="200">
</div>

</body>
</html>
