<h2>Giỏ hàng</h2>
<table border="1" width="100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Amount</th>
        <th></th>
    </tr>
    <tr th:each="item: ${cart.items}">
        <form th:action="@{|/cart/update/${item.id}|}" method="post">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td><input name="qty" th:value="${item.qty}" onblur="this.form.submit()"></td>
            <td th:text="${item.price * item.qty}"></td>
            <td><a th:href="@{|/cart/remove/${item.id}|}">Remove</a></td>
        </form>
    </tr>
</table>

<p><b>Tổng tiền:</b> <span th:text="${cart.amount}"></span></p>

<a href="/cart/clear">Clear Cart</a> |
<a href="/item/index">Add More</a>
